<div class="card border border-light">
   <div class="picture text-center">
      <img src="https://randomuser.me/api/portraits/men/47.jpg" alt="Picture de NameUser" title="Name User" class="pic-rounded mini-pic-rounded" style="margin-top: -45px">
      <h3 class="mt-1">
         <i class="fas fa-user mr-2"></i>
         UserName
      </h3>
   </div>
   <div class="card-body">
      <i class="fas fa-quote-left"></i>
      <em>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt debitis ducimus necessitatibus suscipit id ad quos maiores illo, unde nihil ipsam ut quasi aliquid incidunt et minima tenetur officiis eos.</p>
      </em>
      <i class="fas fa-quote-right"></i>
      <div class="rating text-center">
         {% for i in 1..5 %}
            <i class="fas fa-star"></i>
         {% endfor %}
      </div>
   </div>
</div>