{% extends 'base.html.twig' %}

{% block title %}
   Accès refusé!
{% endblock %}

{% block body %}
   <div class="container">
      <div class="row justify-content-center align-items-center">
         <div class="col-lg-6 col-md-12">
            <h1 class="text-danger">Oops! Une erreur 403 est survenue!</h1>
            <h5>Le serveur a renvoyé un <strong>403 ACCESS DENIED</strong></h5>
            <p class="lead">
               Nous avons traité votre demande mais nous avons trouvé que vous n'ayez pas les droit d'accès. Pensez à réssayer en modifiant votre demande, ou en revenant à la page d'accueil en cliquant <a href="{{ path('homepage') }}">ici</a>.
            </p>
         </div>
      </div>
   </div>
{% endblock %}